<div class="max-w-7xl w-full mx-auto px-[10px] grid md:grid-cols-4 md:gap-5 lg:grid-cols-[1fr 3fr 3fr 1fr]">
    <div class="max-w-4xl mx-auto grid justify-items-center gap-8 col-start-2 col-span-2">
        <h1 class="dark:text-c3 text-r-title sm:text-4xl lg:text-title font-literata text-center">
            Convites especiais para o dia mais importante da sua vida<span class="text-v1">.</span>
        </h1>
        <p class="sm:text-2xl text-center dark:text-c3">
            O nosso objetivo é fazer com que a sua experiência de planejamento
            do casamento seja agradável
        </p>
        <a class="inline-block py-4 px-8 bg-e1 text-c3 rounded-full font-semibold hover:bg-e2 hover:cursor-pointer dark:bg-c2 dark:text-f1 dark:hover:bg-c3/70 text-sm md:text-base"
            href="https://noivite.vercel.app/" target="_blank">COMECE AGORA</a>
    </div>

    <img class="img1 hidden md:inline-block rounded-full col-start-1 row-start-1 mt-auto mb-auto"
        src="./img/decoracao1.png" alt="recém casados" />

    <img class="img2 hidden lg:inline-block rounded-full col-start-2 mt-8" src="./img/decoracao2.png"
        alt="recém casados de mãos dada" />

    <img class="img3 hidden lg:inline-block rounded-full col-start-3 ml-auto" src="./img/decoracao3.png"
        alt="recém casados se beijando" />

    <img class="img4 hidden md:inline-block rounded-l-full col-start-4 row-start-1 mt-auto mb-auto"
        src="./img/decoracao4.png" alt="recém casados" />
</div>