<h2 class="font-literata text-r-title sm:text-4xl lg:text-title  mb-r-title md:mb-title text-center dark:text-c3">
    nossos serviços<span class="text-v1">.</span>
</h2>
<ul class="grid grid-cols-columns-card sm:grid-cols-2 lg:grid-cols-4 gap-5 md:gap-10 text-center justify-items-center">
    <li class="dark:bg-f1 sm:ml-auto bg-c3 p-10 rounded-forty grid justify-items-center gap-3 max-w-80">
        <i class="stroke-e1 h-8 w-8 md:h-16 md:w-16 md:mb-7" data-feather="pen-tool"></i>
        <h3 class="font-semibold text-xl dark:text-c3">Escolha seu estilo</h3>
        <p class="text-e1 dark:text-c3/70 ">Modelos personalizados para todos os gostos</p>
    </li>
    <li class="dark:bg-f1 sm:mr-auto bg-c3 p-10 rounded-forty grid justify-items-center gap-3 max-w-80">
        <i class="stroke-e1 h-8 w-8 md:h-16 md:w-16 md:mb-7" data-feather="share"></i>

        <h3 class="font-semibold text-xl dark:text-c3">Compartilhe com facilidade</h3>
        <p class="text-e1 dark:text-c3/70">Convites compartilháveis em um clique</p>
    </li>
    <li class="dark:bg-f1 sm:ml-auto bg-c3 p-10 rounded-forty grid justify-items-center gap-3 max-w-80">
        <i class="stroke-e1 h-8 w-8 md:h-16 md:w-16 md:mb-7" data-feather="repeat"></i>

        <h3 class="font-semibold text-xl dark:text-c3">Confirmações em tempo real</h3>
        <p class="text-e1 dark:text-c3/70">Gerencie confirmações instantaneamente</p>
    </li>
    <li class="dark:bg-f1 sm:mr-auto bg-c3 p-10 rounded-forty grid justify-items-center gap-3 max-w-80">
        <i class="stroke-e1 h-8 w-8 md:h-16 md:w-16 md:mb-7" data-feather="gift"></i>

        <h3 class="font-semibold text-xl dark:text-c3">Facilite presentes</h3>
        <p class="text-e1 dark:text-c3/70">Sugira e confirme presentes/pix</p>
    </li>
</ul>