#about {
  background-color: var(--c3);
  background-image: linear-gradient(to left, var(--c2) 58%, var(--c3) 0);
}

.-mt-4 {
  margin-top: -0.25rem;
}

.-mb-4 {
  margin-bottom: -0.25rem;
}

.content-about {
  margin: 0 auto;
  max-width: 72.5rem;
}

.content-about td:first-child {
  width: 47.5rem;
  background-color: var(--c3);
  border-radius: 0 4.375rem 4.375rem 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content-about td:first-child p {
  max-width: 35rem;
}

.content-about td:last-child {
  position: relative;
}

.content-about .decoration-1 {
  position: absolute;
  border-radius: 6.25rem;
  top: 0rem;
  right: -5rem;
}

.content-about .decoration-2 {
  border-radius: 0 6.25rem 6.25rem 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -5rem;
}
.content-about .decoration-3 {
  border-radius: 6.25rem;
  width: 12.5rem;
  position: absolute;
  bottom: 0rem;
  left: 5.625rem;
}

#about h2 {
  margin-bottom: 2.75rem;
  text-align: left;
}

#about p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}
