#about {
  background-color: var(--c3);
  background-image: linear-gradient(to left, var(--c2) 50%, var(--c3) 0);
}

.detail {
  max-width: 47.5rem;
  background-color: var(--c3);
  border-radius: 0 4.375rem 4.375rem 0;
  position: relative;
  left: 50%;
  transform: translateX(-76%);
}

.conteiner {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content-about {
  max-width: 36.25rem;
}

#about h2 {
  margin-bottom: 3.75rem;
  text-align: left;
}

#about p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#about .img2-2-content {
  float: inline-start;
  position: relative;
  top: -34.75rem;
  left: 55rem;
}

#about .img3-2-content {
  float: right;
  position: relative;
  top: -252px;
  left: 50rem;
  width: 200px;
}

#about .img4-2-content {
  border-radius: 0 6.25rem 6.25rem 0;
  position: relative;
  float: right;
  top: -19.75rem;
  left: 25rem;
}
