:root {
  --c1: #ecc9a3;
  --c2: #fdecd2;
  --c3: #faf2e6;
  --v1: #8fb27c;
  --v2: #bbcf9a;
  --e1: #709a94;
  --e2: #a0bcae;
  --f1: #235560;
}

* {
  color: var(--f1);
  font-family: "Poppins", sans-serif;
}

:focus-visible {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--v1);
}

body {
  background-color: var(--c2);
}

.content-limit {
  max-width: 1160px;
  margin: 0 auto;
}

main {
  padding-top: 71.6px;
}

.logo,
h2,
h1 {
  font-family: "Literata", serif;
}

h1,
h2 {
  line-height: 3.75rem;
  font-size: 3.125rem;
  text-align: center;
}

.inline, .social-networking *  {
  display: inline-block;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
}

.dot {
  color: var(--v1);
}

.button {
  padding: 1rem 2rem;
  background-color: var(--e1);
  color: var(--c3);
  border-radius: 1.875rem;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 600;
}

.button:hover {
  background-color: var(--e2);
}

.img1-content,
.img2-content,
.img3-content,
.img4-content {
  overflow: hidden;
  border-radius: 6.25rem;
}

.clear {
  clear: both;
}
