header {
  background-color: var(--c2);
  position: fixed;
  width: 100%;
  z-index: 10;
}

header li {
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-list li {
  margin: 1.25rem;
}
.nav {
  float: right;
  height: 4.375rem;
}
.nav-list li:hover {
  border-bottom: 0.1875rem solid var(--v1);
}

