#hero {
  padding: 5rem 0 12.25rem;
  background-color: var(--c3);
}

#hero .content-limit {
  max-width: 100rem;
}

.hero-content {
  max-width: 52.625rem;
  margin: 0 auto;
}

.hero-content,
.hero-content > p {
  text-align: center;
}

.hero-content > p {
  color: var(--e1);
  font-size: 1.25rem;
  max-width: 37.3125rem;
  margin: 2rem auto;
}

.img1,
.img2,
.img3,
.img4 {
  overflow: hidden;
  border-radius: 6.25rem;
}

.img1 {
  margin-top: -8.8125rem;
}

.img2 {
  margin: 1.25rem 0rem 0 25rem;
}

.img3 {
  float: right;
  margin: -16.875rem 21.25rem;
}

.img4 {
  border-radius: 6.25rem 0 0 6.25rem;
  float: right;
  margin-top: -31.25rem;
}
