.modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
  margin-top: 4.375rem;
  padding: 20px;
  color: var(--f1);
  font-size: 18px;
  font-weight: 500;
  background-color: var(--v2);
  border-radius: 20px 0 0 20px;
  animation-duration: 1s;
  animation-name: entry;
}

@keyframes entry {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
